<!DOCTYPE html>
<html>
<head>
  <title>SocialmediaGovPredict</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="color-ground" role="navigation">
    <div class="columns">
      <div class="column logo">
        <%= link_to root_path do %>
        <%= image_tag "govpredict-logo.png" %>
        <% end %>
      </div>
      <div class="column has-text-centered">
        <%= link_to "Publicações", root_path %>
      </div>
      <div class="column profile">
        <div class="dropdown is-right is-hoverable">
          <div class="dropdown-trigger image">
            <%= image_tag "profile/3.jpeg", class: "is-rounded", aria: {haspopup: "true", controls: "img-ground"} %>
          </div>
          <div class="dropdown-menu" id="img-ground" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                Editar Perfil
              </div>
              <div class="dropdown-item">
                Perfil
              </div>
              <hr class="navbar-divider">
              <div class="dropdown-item">
                Sair
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <section>
      <%= form_with url: home_search_path , method: :get, remote: true, id: "form" do |form| %>
      <div class="search">
        <%= form.search_field :q, class: "input is-rounded", placeholder: 'search...', value: params[:q] %>
      </div>
      <div class="columns">
        <div class="colum">
          <div class="field">
            <div class="select">
              <%= form.select :lists, @lists, { prompt: 'Selecione um tipo'} %>
            </div>
          </div>
          <div class="field">
            <div class="select">
              <%= form.select :accounts , @accounts, { prompt: 'Selecione uma rede social'} %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            Criado a partir da data: <%= form.date_select params[:date_first], prefix: :date_first, prompt: {day: "Dia", month: "Mes", year: "Ano"} %>
          </div>
        </div>
        
        <div class="column">
          <div class="field">
            Até: <%= form.date_select params[:date_end], prefix: :date_end, prompt: {day: "Dia", month: "Mes", year: "Ano"} %>
          </div>
        </div>
      </div>
      <div class="has-text-centered">
        <%= form.submit "Pesquisar", class: "button" %>
      </div>
      <% end %>
    </section>
    <%= yield %>
  </div>

  <footer>

  </footer>
</body>
</html>
