<!DOCTYPE html>
<html>
<head>
  <title>SocialmediaGovPredict</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="color-ground" role="navigation">
    <div class="columns">
      <div class="column logo">
        <%= image_tag "govpredict-logo.png" %>
      </div>
      <div class="column has-text-centered">
        <p>Publicações</p>
      </div>
      <div class="column profile">
        <div class="dropdown is-right is-hoverable">
          <div class="dropdown-trigger image">
            <%= image_tag "profile/3.jpeg", class: "is-rounded", aria: {haspopup: "true", controls: "img-ground"} %>
          </div>
          <div class="dropdown-menu" id="img-ground" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                Editar Perfil
              </div>
              <div class="dropdown-item">
                Perfil
              </div>
              <hr class="navbar-divider">
              <div class="dropdown-item">
                Sair
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    <section>
      <div class="search ">
        <input class="input is-rounded" type="text" placeholder="Rounded input">
        <div class="select">
          <select>
            <option>Filtrar</option>
            <option>With options</option>
          </select>
        </div>
      </div>
    </section>
    <section>
      <%= yield %>
    </section>
    <div class="columns is-8 is-responsive">
      <div class="column">
        <%= paginate @posts %>
      </div>
    </div>
    <footer>
      
    </footer>
  </div>
</body>
</html>
