<!DOCTYPE html>
<html>
<head>
  <title>SocialmediaGovPredict</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <nav class="color-ground" role="navigation">
    <div class="columns">
      <div class="column logo">
        <%= link_to root_path do %>
        <%= image_tag "govpredict-logo.png" %>
        <% end %>
      </div>
      <div class="column has-text-centered">
        <%= link_to "Publicações", root_path %>
      </div>
      <div class="column profile">
        <div class="dropdown is-right is-hoverable">
          <div class="dropdown-trigger image">
            <%= image_tag "profile/3.jpeg", class: "is-rounded", aria: {haspopup: "true", controls: "img-ground"} %>
          </div>
          <div class="dropdown-menu" id="img-ground" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                Editar Perfil
              </div>
              <div class="dropdown-item">
                Perfil
              </div>
              <hr class="navbar-divider">
              <div class="dropdown-item">
                Sair
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    <section>
      <%= form_with url: home_search_path , method: :get, local: true, class: "" do |form| %>
      <div class="search ">
        <%= form.search_field :q, class: "input is-rounded", required: true, placeholder: 'search...', value: params[:q] %>
      </div>
      <% end %>
    </section>
    <section>
      <%= yield %>
    </section>
    <footer>

    </footer>
  </div>
</body>
</html>
